@import 'src/assets/scss/var.scss';

:host ::ng-deep .header {
  width: 100%;
  overflow: hidden;

  .header_top {
    width: 100%;
    height: 90px;
    padding: 0 100px;
    @include alignItems;
    justify-content: space-between;
    background-color: $white;
    border-bottom: 1px solid $themeColor;
    transition: ease 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 123;
  }

  .header_left {
    height: 100%;
    flex: 1;
    @include alignItems;
  }

  .header_logo {
    @include alignItems;
    cursor: pointer;
    color: $themeColor;
    height: 100%;

    &_icon {
      flex: 0 0 61px;
      width: 61px;
      height: 35px;
      background: url('src/assets/img/header/logo.png');
    }

    &_title {
      max-height: 70px;
      overflow: hidden;
      margin-left: 15px;
      font-size: 24px;
    }
  }

  .header_nav {
    margin-left: 50px;

    .ant-menu-horizontal {
      border-color: transparent;
      font-size: 18px;
      background-color: transparent;

      .ant-menu-item-open,
      .ant-menu-item-selected,
      .ant-menu-item-active,
      .ant-menu-item:hover,
      .ant-menu-submenu-active,
      .ant-menu-submenu-open,
      .ant-menu-submenu-selected,
      .ant-menu-submenu:hover,
      .ant-menu-submenu-title:hover {
        border-color: transparent;
        color: $themeColor;
      }
    }
  }

  .header_search_btn {
    font-size: 14px;
    line-height: 32px;
  }

  &.home_top {
    .header_top {
      background-color: transparent;
      border-color: rgba($white, 0.3);
    }

    .header_logo {
      color: $white;

      &_icon {
        background: url('src/assets/img/header/logo_white.png');
      }
    }

    .header_nav {
      .ant-menu-horizontal {
        color: $white;

        .ant-menu-item-open,
        .ant-menu-item-selected,
        .ant-menu-item-active,
        .ant-menu-item:hover,
        .ant-menu-submenu-active,
        .ant-menu-submenu-open,
        .ant-menu-submenu-selected,
        .ant-menu-submenu:hover,
        .ant-menu-submenu-title:hover {
          color: $white;
        }
      }

      .hover_border {
        @include hoverBorder($white)
      }
    }

    &::before {
      display: block;
      width: 100%;
      min-width: 1860px;
      height: 220px;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      // background: linear-gradient(180deg, rgba(0, 120, 175, 0.73), rgba($white, 0));
      background: linear-gradient(180deg, rgba($black, 0.73), rgba($white, 0));
      z-index: 122;
    }
  }

  .header_page {
    margin: 90px 0 20px 0;
    height: 205px;
    background: $primary;
    position: relative;

    .header_page_bg {
      height: 100%;
      position: absolute;
      top: 0;
      left: calc(50% - 960px);
    }

    .header_page_container {
      position: absolute;
      z-index: 12;
      left: calc(50% - 600px);
      width: $contentWidth;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .header_page_title {
      display: inline-block;
      width: auto;
      height: 67px;
      margin-bottom: 30px;

      // margin-bottom: 50px;
      // font-size: 30px;
      // color: $white;
      img {
        height: 67px;
      }
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar {
      margin: 0;
      border-color: transparent;

      .ant-tabs-nav-container {
        height: 50px;
      }

      .ant-tabs-tab {
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        font-size: 16px;
        background-color: rgba($white, 0.3);
        border-color: transparent;
        color: white;
        margin-right: 5px;

        &-active {
          background-color: $white;
          color: $themeColor;
        }
      }
    }
  }

  @media screen and (max-width: 1600px) {
    .header_top {
      padding: 0 30px;
    }

    .header_nav {
      margin-left: 30px;

      .ant-menu-horizontal {

        // .ant-menu-submenu,
        // .ant-menu-item {
        // padding: 0 10px;
        // margin-right: 20px;
        // }

        .ant-menu-item,
        .ant-menu-submenu-title {
          padding: 0 15px;
        }
      }
    }
  }
}