@import 'src/assets/scss/var.scss';

.header2 {
  height: 120px;
  background: url(../../../../assets/img/home/bg4.png) no-repeat;
  background-size: 1920px 120px;

  .specific {
    display: flex;
    height: 113px;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    i {
      color: rgba(255, 255, 255, 0.5);
      width: 20px;
      height: 28px;
      margin-right: 20px;
    }
  }
}
